html, body{
    background: rgba(255, 169, 190, 0.1);
    margin: 0px;
}

.images{
    position: absolute;
    width: 50%;
}
.dog{
    width: 40%;
    position: absolute;
    left: 0px;
    margin: 10px;
}

.next2{
    position: absolute;
    right: 0px;
}

.cake{
    position: absolute;
    right: 0px;
    height: 40vh;
    margin: 10px;
}
/* .middle{
    height: 40%;
} */

.logo{
    position: absolute;
    left: 37%;
    top: 30%;
    width: 40vh;
}

.type{
    position: absolute;
    left: 0px;
    bottom: 0;
    margin: 10px;
}

.history{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
}