html, body{
    background: rgba(224, 138, 40, 0.959);
    margin: 0px;
}

.images{
    position: absolute;
    width: 50%;
}
.dog{
    width: 40%;
    position: absolute;
    left: 0px;
}

.next2{
    position: absolute;
    right: 0px;
}

.cake{
    position: absolute;
    right: 0px;
    height: 40vh;

}
/* .middle{
    height: 40%;
} */

.logo{
    position: absolute;
    left: 37%;
    top: 30%;
    width: 40vh;
}