@font-face {
    font-family: 'HelveticaNeueLTW06-93BlkExtObl';
    src: url('HelveticaNeueLTW06-93BlkExtObl.eot');
    src: url('HelveticaNeueLTW06-93BlkExtObl.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLTW06-93BlkExtObl.woff2') format('woff2'),
        url('HelveticaNeueLTW06-93BlkExtObl.woff') format('woff'),
        url('HelveticaNeueLTW06-93BlkExtObl.ttf') format('truetype'),
        url('HelveticaNeueLTW06-93BlkExtObl.svg#HelveticaNeueLTW06-93BlkExtObl') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

